.device-switcher{
    position: relative;
}

:host ::ng-deep .device-switcher .ui-button:enabled:hover {
    border: none;
    background: #d83431;
    color: #fff;
}

:host ::ng-deep .device-switcher .selected .ui-button {
    background: #d83431;
    color: #fff;
}

:host ::ng-deep .device-switcher .ui-button-icon-only .fa {
    font-size: 16px;
}

:host ::ng-deep .device-switcher .rotate-button .ui-button {
    color: #d83431;
    position: absolute;
    right: 0px;
    top: 33px;
    z-index: 9;
    background-color: #f9f9f9;
    border-radius: 50%;
}

:host ::ng-deep .device-switcher .rotate-button .ui-button:enabled:hover {
    background-color: #f9f9f9;
    color: #d83431;
    background-color: #eeeeee;
}