<!--<sc-explorer-toolbar (query)="filter($event)"></sc-explorer-toolbar>

<div class="tree-container">
  <ng-container *ngIf="(navigator.view() | async) === 'feature'">
    <sc-feature-explorer> </sc-feature-explorer>
  </ng-container>
  <ng-container *ngIf="(navigator.view() | async) === 'screen'">
    <sc-screen-explorer> </sc-screen-explorer>
  </ng-container>
</div>-->

<!-- <ng-template #noFeatureContainer>
  <div class="no-feature-container">
    <div class="no-data-message">
      <span>No feature configured.</span>
    </div>
    <div class="actions">
      <p-button
        class="add-Feature"
        icon="fa fa-fw fa-plus"
        label="Add feature"
        (click)="addNewFeature()"
      ></p-button>
    </div>
  </div>
</ng-template> -->
