.previewer-loader-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    top: 0;
    background: rgba(102, 102, 102, .2);
}

.loader {
    width: auto;
    margin: auto;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #C6C6C6;
    }
    40% {
        stroke: #4CAF50;
    }
    66% {
        stroke: #313439;
    }
    80%,
    90% {
        stroke: #D63431;
    }
}